a {
  text-decoration: none;
}

section {
  font-family: "Poppins", sans-serif;
  margin-bottom: 100px;
  margin-top: 50px;
}

section .container {
  width: calc(100% - 340px);
}

section .container .flex h2 {
  font-size: 40px;
  line-height: 46px;
}

section .container .flex h3.c-head {
  font-size: 35px;
  margin-bottom: 40px;
}

section .container .flex h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

section .container .flex p {
  margin: 0;
  line-height: 24px;
}

section .container .col__4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section .container .col__4__img {
  width: 81px;
}

section .container .col__4__img img {
  width: 100%;
}

section .container .col__4__head {
  margin-top: 50px;
}

section .container .col__4__text {
  width: 213px;
}

section .f-head {
  font-family: "Raleway", sans-serif;
}

section .c-head {
  color: #534847;
}

section .c-green {
  color: #1f9348;
}

section .c-text {
  color: #8d8180;
}

section .line {
  width: 25px;
  height: 1px;
  background-color: #1f9348;
  margin-top: 10px;
  margin-right: 10px;
}

section .title {
  font-size: 30px;
  line-height: 35px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

section .list-unstyled {
  list-style: none;
}

section .max-width-1 {
  max-width: 340px;
}

section .max-width-1 p {
  width: 273px;
}

section .grid-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 0 100px;
  row-gap: 30px;
  margin: 40px 0;
}

section .grid-col__item {
  text-align: center;
  position: relative;
}

section .grid-col__item__link {
  display: block;
  color: black;
}

section .grid-col__item__tagname {
  min-width: 149px;
  height: 55px;
  position: absolute;
  bottom: 5px;
  left: 18px;
  padding: 0 10px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .text-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

section .text-link span {
  margin-right: 10px;
}

section .card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 25px;
  border-radius: 5px;
  background-color: white;
}

section .card .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .card__content {
  padding: 15px;
  width: 100%;
}

section .card__content h3 {
  color: black;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 15px;
}

section .card__content p {
  font-size: 14px;
}

section .card__img {
  width: 250px;
}

section .card__img img {
  height: 100%;
  border-radius: 0 5px 5px 0;
}

section .card .row {
  display: block;
}

section .card .btn__link {
  display: block;
  width: 87px;
  padding: 5px 10px;
  border: 2px solid #1f9348;
  border-radius: 5px;
  color: #1f9348;
  font-weight: 600;
}

.ss__bg {
  position: relative;
  background-color: #f9f9f9;
}

.ss__bg::after {
  content: "";
  width: 96px;
  height: 330px;
  position: absolute;
  right: 0;
  top: 30%;
  background: url("dots.png");
  background-repeat: no-repeat;
}

.ss__news .grid-col {
  padding: 0;
}

.ss__news .grid-col__item__link .flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ss__news .grid-col__item h4 {
  width: 245px;
}

.responsive .slick-slide {
  margin-right: 5px;
  margin-left: 10px;
  border: 1px solid #1f9348;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.responsive .slick-prev:before {
  content: "<i class=" fas fa-chevron-left "></i>";
  color: #8d8180;
  font-size: 30px;
}

.responsive .slick-next:before {
  content: "<i class=" fas fa-chevron-right "></i>";
  color: #8d8180;
  font-size: 30px;
}

@media (max-width: 1200px) {
  section {
    margin-bottom: 0;
  }
  section .container {
    width: calc(100% - 30px);
  }
  section .container .grid-col {
    margin: 10px 0;
    gap: 20px;
  }
  section .container .grid-col__item__img {
    min-width: 170px;
  }
  section .container .grid-col__item__img img {
    width: 100%;
    margin: 0 auto;
  }
  section .container .grid-col__item__tagname {
    min-width: 149px;
    height: 35px;
    left: 0px;
    font-size: 14px;
    padding: 0;
  }
  .ss__bg::after {
    display: none;
  }
  .ss__bg .card__img {
    width: 230px;
  }
  .ss__bg .card__img img {
    width: 100%;
  }
  .ss__bg .card .btn__link {
    text-align: center;
    margin-top: 10px;
    padding: 5px 10px;
  }
  .ss__bg .card.mb0 {
    margin-right: 0;
  }
  .ss__news .grid-col {
    padding: 0;
  }
  .ss__news .grid-col__item h4.c-head {
    font-size: 14px !important;
    width: 100%;
    margin-left: 5px;
  }
  .ss__dau-tu .slick-prev {
    left: -5px;
  }
  .ss__dau-tu .slick-next {
    right: 0;
  }
}

@media (max-width: 900px) {
  section {
    margin-bottom: 0;
  }
  section .container {
    width: calc(100% - 30px);
  }
  section .container .flex h2 {
    line-height: 40px;
  }
  section .container .flex h3.c-head {
    margin: 15px 0;
    padding: 0;
  }
  section .container .flex p {
    margin: 0;
    line-height: 24px;
  }
  section .container .title {
    padding: 0;
  }
  section .container .py3,
  section .container .py4,
  section .container .pb4,
  section .container .mb4 {
    padding: 0;
  }
  section .container .grid-col {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 10px 0;
    gap: 10px;
  }
  section .container .grid-col__item__img {
    min-width: 170px;
  }
  section .container .grid-col__item__img img {
    width: 100%;
    margin: 0 auto;
  }
  section .container .grid-col__item__tagname {
    min-width: 149px;
    height: 35px;
    left: 0px;
    font-size: 14px;
    padding: 0;
  }
  .ss__bg::after {
    display: none;
  }
  .ss__bg .card {
    width: 100%;
    margin: 20px 0;
  }
  .ss__bg .card__content {
    padding: 15px;
    width: 100%;
  }
  .ss__bg .card__content h3 {
    color: #534847;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .ss__bg .card__img {
    width: 230px;
  }
  .ss__bg .card__img img {
    width: 100%;
  }
  .ss__bg .card .btn__link {
    text-align: center;
    margin-top: 10px;
    padding: 5px 10px;
  }
  .ss__news .grid-col {
    padding: 0;
  }
  .ss__news .grid-col__item h4.c-head {
    font-size: 14px !important;
    width: 100%;
    margin-left: 5px;
  }
  .ss__dau-tu .slick-prev {
    left: -5px;
  }
  .ss__dau-tu .slick-next {
    right: 0;
  }
}

@media (max-width: 600px) {
  section {
    margin-bottom: 0;
  }
  section .container {
    width: calc(100% - 20px);
  }
  section .container .flex h2 {
    font-size: 30px;
    line-height: 40px;
  }
  section .container .flex h3.c-head {
    font-size: 28px;
    margin: 15px 0;
    padding: 0;
  }
  section .container .flex p {
    margin: 0;
    line-height: 24px;
  }
  section .container .col__4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  section .container .col__4__img {
    width: 70px;
  }
  section .container .col__4 h4 {
    margin: 0;
  }
  section .container .col__4__content {
    text-align: left;
    margin-left: 20px;
  }
  section .container .col__4__content, section .container .col__4__text {
    width: 100%;
  }
  section .container h4.c-green {
    font-size: 14px;
  }
  section .container p.c-text,
  section .container p.c-green {
    font-size: 14px;
  }
  section .container .title {
    font-size: 25px;
    line-height: 30px;
    padding: 0;
  }
  section .container .py3,
  section .container .py4,
  section .container .pb4,
  section .container .mb4 {
    padding: 0;
  }
  section .container .grid-col {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 10px 0;
    gap: 10px;
  }
  section .container .grid-col__item__img {
    min-width: 170px;
  }
  section .container .grid-col__item__img img {
    width: 100%;
    margin: 0 auto;
  }
  section .container .grid-col__item__tagname {
    min-width: 149px;
    height: 35px;
    left: 0px;
    font-size: 14px;
    padding: 0;
  }
  .ss__bg::after {
    display: none;
  }
  .ss__bg .card {
    margin: 10px 0 15px;
  }
  .ss__bg .card__content {
    padding: 15px;
    width: 100%;
  }
  .ss__bg .card__content h3 {
    color: #534847;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .ss__bg .card__img {
    width: 200px;
  }
  .ss__bg .card__img img {
    width: 100%;
  }
  .ss__bg .card .btn__link {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    padding: 5px 10px;
  }
  .ss__news .grid-col {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
    padding: 0;
  }
  .ss__news .grid-col__item__link .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ss__news .grid-col__item h4.c-head {
    font-size: 14px !important;
    width: 100%;
    margin-left: 5px;
  }
  .ss__dau-tu .slick-prev {
    left: -5px;
  }
  .ss__dau-tu .slick-next {
    right: 0;
  }
}
/*# sourceMappingURL=style.css.map */